<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>906528609766-pk43gm7k62386gttm8jp5cf2r4j4pqnb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.906528609766-pk43gm7k62386gttm8jp5cf2r4j4pqnb</string>
	<key>API_KEY</key>
	<string>AIzaSyCmhbll_ohVnAjvD8MnU73bS4UtS3OGWZk</string>
	<key>GCM_SENDER_ID</key>
	<string>906528609766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mevent.app</string>
	<key>PROJECT_ID</key>
	<string>m-event-push-notifications</string>
	<key>STORAGE_BUCKET</key>
	<string>m-event-push-notifications.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906528609766:ios:a7d9410bf3a273c6</string>
	<key>DATABASE_URL</key>
	<string>https://m-event-push-notifications.firebaseio.com</string>
</dict>
</plist>